@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #F2EBFF;
    height: 740px;
    width: 1440px;
    margin: 0;
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#main-title {
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    height: 22px;
    width: 123px;
    margin: 20px 0 0 90px;
    padding: 0;
}

#login-button {
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 22px;
    opacity: 0.8;
    width: 43px;
    margin: 20px 90px 0 0;
    padding: 0;
}

video {
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    height: 499px;
    width: 828px;
    margin: 99px 0 0 90px;
    padding: 0;
}