@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #F2EBFF;
    height: 2776px;
    width: 1440px;
    margin: 0;
    /* border: 1px solid #000000;*/
}

div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#main-title {
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    height: 22px;
    width: 123px;
    margin: 20px 0 0 90px;
    padding: 0;
}

#login-button {
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 22px;
    opacity: 0.8;
    width: 43px;
    margin: 20px 90px 0 0;
    padding: 0;
}

video {
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    height: 499px;
    width: 828px;
    margin: 99px 37px 0 90px;
    padding: 0;
    float: left;
}

/* Movie information style */
.movie-description {
    display: flex;
    flex-direction: column;
    margin: 92px 0 0 0;
}

.movie-description-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.name {
    height: 49px;
    width: 122px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    vertical-align: top;
    margin: 0;
}

.rating {
    height: 29px;
    width: 44px;
    border: 1px solid #BBB8C0;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    opacity: 1;
    margin-left: 20px;
}

.sub-info {
    height: 17px;
    width: 124px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    opacity: 0.6;
    vertical-align: top;
    margin: 0 0 0 0;

}

.description {
    height: 104px;
    width: 394px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    opacity: 1;
    vertical-align: top;
    margin: 30px 0 15px 0;
}

/* Table style*/
table {
    table-layout: fixed;
    border: none;
    font-family: "Inter", "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 170px;
    width: 350px;
    margin: 0 0 29px 0;
}

tr {
    height: 20px;
}

tr.empty {
    height: 20px;
}

th {
    width: 100px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    padding: 0;
}

td {
    width: 250px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    padding: 0;
}

/* Buttons style*/
div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 396px;
}

#trailer-button,
#reviews-button {
    border: 1px solid rgb(130, 45, 180);
    background: rgb(242, 235, 255);
    border-radius: 8px;
    height: 50px;
    width: 180px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(130, 45, 180);
    text-align: center;
    vertical-align: top;
    margin-top: 18px;

    transition: box-shadow 0s ease;
}

#trailer-button:hover,
#reviews-button:hover {
    border: 1px solid rgb(130, 45, 180);
    background: rgb(130, 45, 180);
    color: rgb(242, 235, 255);

    box-shadow: -10px 10px 0 0 rgb(33, 33, 33);
    /*transform: translate(10px, -10px);*/
    transform: matrix(1, 0, 0, 1, 10, -10);

}

/* Actors section style*/
section#actors {
    margin: 170px 0 84px 90px;
    display: flex;
    flex-direction: column;
}

.section-header {
    display: block;
    height: 39px;
    width: 109px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    vertical-align: top;
    margin-top: 0;
}

#actors-list {
    display: flex;
    flex-direction: row;
    height: 251px;
    width: 1259px;
    /*margin: 0 0 0 90px;*/
    border: none;
}

#actors-list article {
    background: #F2EBFF;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 251px;
    width: 149px;

    transition: box-shadow 0s ease;
}
#actors-list article:hover {
    box-shadow: -10px 10px 0 0 rgb(33, 33, 33);
    transform: translate(10px, -10px);
}

article img {
    width: 147px;
    height: 209px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

article div {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    justify-self: end;
    align-self: start;
    height: 18px;
    width: max-content;
    margin: 9px 0 13px 10px;

}

/* Reviews section style*/
#reviews-section {
    position: absolute;
    top: 1348px;
    left: 90px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

p#reviews.section-header {
    position: absolute;
    top: 1269px;
    left: 90px;
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
}

#reviews-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.review {
    display: flex;
    flex-direction: column;

    width: 936px;
    border-radius: 10px;
    height: fit-content;

    padding: 40px 40px 60px 40px;
    border: 1px solid black;

    /* needed to set review rating to absolute position */
    position: relative;
}

.date {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 14px;
    opacity: .6;
    line-height: 14px;
    padding: 0;
    margin: 0;
}

.review h1 {
    display: inline-flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    padding: 0;
    margin: 32px 0 20px 0;
}

.review p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.grade {
    position: absolute;
    top: -10px;
    right: 40px;

    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    width: 72px;
    height: 93px;
    background-size: contain;
    font-size: 24px;
    font-weight: 500;
}

.grade span.innerText {
    font-size: 24px;
    font-weight: 500;
}

.grade span {
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: 9px;
}

.grade.positive {
    background-image: url("/media/positive-review.png");
}

.grade.negative {
    background-image: url("/media/negative-review.png");
}

/* Summary section style*/
.reviews-summary {
    position: sticky;
    top: 0;
    height: 261px;
    padding: 0;
    border-left: 2px solid rgb(0, 0, 0);
    min-width: 91px;
    margin-left: 147px;
}

.reviews-number {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: left;
    height: 36px;
    width: 20px;
    margin: 10px 0 0 16px;
}

.reviews-number.positive {
    color: rgb(48, 207, 127);
    margin: 30px 0 0 16px;
}

.reviews-number.negative {
    color: rgb(207, 48, 48);
    margin: 30px 0 0 16px;
}

.reviews-number span {
    font-weight: 400;
    font-size: 16px;
    height: 19px;
    color: rgb(0, 0, 0);
    opacity: 0.4;
    vertical-align: text-bottom;
    margin-left: 7px;
    position: relative;
    top: 13px;
}

.reviews-summary .caption {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    height: 19px;
    margin: 2px 0 0 16px;
}